*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
   /* color: #555;      */
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
} 
body{
    margin: 4em 7em 4em 7em; 
    background:
               linear-gradient(170deg, rgba(202, 168, 123, 0.8), rgba(153, 131, 89, 0) 55.71%),
               linear-gradient(100deg, rgba(173, 119, 57, 0.363), rgba(189, 144, 89, 0) 80.71%),
               linear-gradient(336deg, rgba(184, 135, 70, 0.8), rgba(118, 99, 129, 0) 50.71%);
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    box-shadow: 1em 0 3em rgba(0, 0, 0, 0.2), -1em 0 3em rgba(0, 0, 0, 0.2);
}
@media screen and (min-width:1700px) {
    body{
        font-size: 130%;
    }
}
@media screen and (min-width:2500px) {
    body{
        font-size: 150%;
    }
}

@media screen and (max-width:991px) {
    body{
        margin: 0em;
    }
}
/*--------NAVIGATION-------------
-----------------------------------*/
.navbar{
    margin-bottom: 0px;
}
.navbar-default{
    background-color: rgb(159, 159, 170);
    border:none;
}
.navbar-default .navbar-nav>li>a {
    color:rgb(255, 255, 255);
} 

/*---------END NAVIGATION----------*/


/*--------BACKGROUND-IMAGE - H3 ---------*/
div img{
    display: block;
    object-fit: fill;
    width: 100%;
    height: 100%;
  }

.box6 img{
    opacity: 0.75;
} 
.main{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    z-index: -2;
}
.box5{

    grid-column: 2/4;
    grid-row: 2/3; 
    z-index: 10;
    font-size: 250%; 
    padding-left: 1em;
}
.box6{
    grid-row: 1/4;
    grid-column: 1/4;
    z-index: 0;
}

  @media screen and (max-width:991px) {
    .box5{
        font-size: 150%;
    }
}
@media screen and (max-width:500px) {
    .box5{
        font-size: 120%;
    }
}

/*--------BACKGROUND-IMAGE - H3--END---------*/

/*---------STREET PHOTOGRAPHY--------*/

.streetp{ 
    grid-area: content;
    font-family: 'Kaushan Script', cursive;
    font-size: 460%;
    text-align: center;
    line-height: 90%;
    background: rgb(159, 159, 170);
    margin-top: 0.1em;
    margin-bottom: 0em;     
    }
@media screen and (max-width:1200px) {
    .streetp{
        margin-top: 0.07em;
    }
}
@media screen and (max-width:991px) {
    .streetp{
        padding-top: 0.1em;        
        font-size: 360%;
        padding-bottom: 0.3em;
    }
}
@media screen and (max-width:500px) {
    .streetp{
        padding-top: 0.1em;        
        padding-bottom: 0.3em;
        font-size: 260%;
    }
}
@media screen and (min-width:1780px) {
    .streetp{
        padding-bottom: 0.3em;
    }
}
.street-text{ 
    grid-area: sidebar;
    text-align: justify;
    padding-right: 0.5em;
    padding-left: 0em;
}
.street-text p{
    margin-bottom: 0px;
    margin-top: 0.75%;    
}                                   
@media screen and (max-width:991px) {
    .street-text{           
         padding: 0em 0.3em 0.3em 0.3em; 
    }
}
.wrapper-street-text{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "content sidebar";
    grid-column-gap:0.5em;
    margin-bottom: 0.5em;
    position: relative;
    width: 100%;
    height: 100%;  
} 
@media screen and (max-width:1200px) {   
    .wrapper-street-text{
    grid-column-gap:0.2em;
    margin-bottom: 0.3em;              
    }
}
@media screen and (max-width:991px) {   
    .wrapper-street-text{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "content"
    "sidebar";
    grid-column-gap:0.2em;
    padding-top: 0.05em;     
    margin-bottom: 0.1em;
    }
}
@media screen and (max-width:500px) { 
    .wrapper-street-text{
    padding-top: 0em;

    }
}
.wrapper{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap:0.5em;
  } 
@media screen and (max-width:991px) {
    .wrapper{
        display:grid;
        grid-template-columns: 1fr;    
        grid-column-gap:0.2em;
    }
}
@media screen and (max-width:1200px) {
    .wrapper{
        grid-column-gap:0.3em;
    }
}
/*---------STREET PHOTOGRAPHY END--------*/

/*---------LANDSCAPE PHOTOGRAPHY---------*/

.landscapep{ grid-area: content;
    font-family: 'Kaushan Script', cursive;
    font-size: 460%;
    text-align: center;
    line-height: 90%;
    background: rgb(159, 159, 170);
    margin-top: 0.1em;
  }
@media screen and (max-width:1200px) {
.landscapep{
    margin-top: 0.07em;
    }
}
@media screen and (max-width:991px) {
    .landscapep{
        padding-top: 0.1em;            
        font-size: 360%;
        padding-bottom: 0.3em;
    }
}
@media screen and (max-width:500px) {
    .landscapep{
        padding-top: 0.1em;        
        padding-bottom: 0.3em;
        font-size: 260%;
    }
}
@media screen and (min-width:1780px) {
    .landscapep{
        padding-top: 0.1em;
        padding-bottom: 0.3em;
    }
}
.landscape-text{ 
        grid-area: sidebar;
        text-align: justify;
        padding-right: 0.5em;
        margin-top: 0.5%;
        padding-left: 0em;
    }
@media screen and (max-width:991px) {
    .landscape-text{
        padding: 0.1em 0.3em 0.3em 0.3em;    
        }
    }
.wrapper-landscape-text{
display:grid;
grid-template-columns: 2fr 1fr;
grid-template-areas: 
"content sidebar";
grid-column-gap:0.5em;
margin-bottom: 0.5em;
position: relative;
width: 100%;
height: 100%;  
} 
@media screen and (max-width:1200px) {                             
    .wrapper-landscape-text{
    grid-column-gap:0.2em;
    margin-bottom: 0.3em;              
    padding-left: 0em;
    }
}
 
@media screen and (max-width:991px) {
    .wrapper-landscape-text{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "content"
    "sidebar";
    grid-column-gap:0.2em;   
    margin-bottom: 0.1em;
    padding-left: 0em;
    padding-top: 0.05em;       
        }
    }
@media screen and (max-width:500px) {   
    .wrapper-landscape-text{
        padding-top: 0em;     
    }
}
.wrapper-landscape{ /*picture*/
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:0.5em;
  }
@media screen and (max-width:991px) {
    .wrapper-landscape{
        grid-template-columns: 1fr; 
       
    }
}
@media screen and (max-width:1200px) {
    .wrapper-landscape{
        grid-column-gap:0.3em;
       
    }
}
/*--------LANDSCAPE PHOTOGRAPHY END------*/

/*--------NATURE PHOTOGRAPHY ------------*/

.naturep{ 
    grid-area: content;
    font-family: 'Kaushan Script', cursive;
    font-size: 460%;
    text-align: center;
    line-height: 90%;
    background: rgb(159, 159, 170);
    margin-top: 0.1em;
}
@media screen and (max-width:1200px) {
    .naturep{
        margin-top: 0.07em;
    }
}
@media screen and (max-width:991px) {
    .naturep{
        padding-top: 0.1em;            
        padding-bottom: 0.3em;
        font-size: 360%;
    }
}
@media screen and (max-width:500px) {
    .naturep{
        padding-top: 0.1em;        
        padding-bottom: 0.3em;
        font-size: 260%;
    }
}
@media screen and (min-width:1780px) {
    .naturep{
        padding-bottom: 0.3em;
    }
}
.nature-text{ 
    grid-area: sidebar;
    text-align: justify;
    padding-left: 0.5em;
    padding-right: 0.2em;
    padding-top: 0.1em;
}
@media screen and (max-width:1200px) {
    .nature-text{
        padding-top: 0.05em;     
    }
}
@media screen and (max-width:991px) {
    .nature-text{
        padding: 0.1em 0.3em 0.3em 0.3em;    
    }
}
.wrapper-nature-text{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "sidebar content";
    grid-column-gap:0.5em;
    margin-bottom: 0.5em;
    position: relative;
    width: 100%;
    height: 100%;  
} 
@media screen and (max-width:1200px) {   
    .wrapper-nature-text{
        margin-bottom: 0.3em;
        grid-column-gap:0.2em;
        padding-left: 0em;                      
    }
}
@media screen and (max-width:991px) {
    .wrapper-nature-text{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "content"
        "sidebar";
        grid-column-gap:0.2em;
        padding-top: 0.05em;                
        margin-bottom: 0.1em;
        padding-left: 0em;
    }
}
@media screen and (max-width:500px) {   
    .wrapper-nature-text{
        padding-top: 0em;
    }
}
.wrapper-nature{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap:0.5em;
  }
  @media screen and (max-width:991px) {
    .wrapper-nature{
        grid-template-columns: 1fr;     
    }
}
@media screen and (max-width:1200px) {
    .wrapper-nature{
        grid-column-gap:0.3em;
    }
}
/*--------NATURE PHOTOGRAPHY END-----*/


/*----------PORTRAIT PHOTOGRAPHY-----*/

.portraitp{ 
    grid-area: content;
    font-family: 'Kaushan Script', cursive;
    font-size: 460%;
    text-align: center;
    line-height: 90%;
    background: rgb(159, 159, 170);
    margin-top: 0.1em;
  }
  .align{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
  }
@media screen and (min-width:1600px) {           
    .align{
      top: 20%;
      transform: none;
    }
}
@media screen and (min-width:1750px) {         
    .align{
      top: 25%;
      transform: none;
    }
}
@media screen and (min-width:2100px) {           
    .align{
      top: 10%;
      transform: none;
    }
}
@media screen and (max-width:991px) {         
    .align{
      top: 0%;
      transform: none;
    }
}
@media screen and (max-width:1200px) {
    .portraitp{
        margin-top: 0.07em;
    }
}
@media screen and (max-width:991px) {
    .portraitp{
        padding-top: 0.1em;             
        padding-bottom: 0.2em;
        font-size: 360%;
        padding-bottom: 0.3em;
    }
}
@media screen and (max-width:500px) {
    .portraitp{
        padding-top: 0.1em;        
        padding-bottom: 0.3em;
        font-size: 260%;
    }
}
@media screen and (min-width:1780px) {
    .portraitp{
        padding-bottom: 0.3em;
    }
}
.portrait-text{ 
    grid-area: sidebar;
    text-align: justify;
    padding-left: 0.5em;
    padding-right: 0.1em;
    padding-top: 0.1em;
}
@media screen and (max-width:1200px) {
    .portrait-text{
        padding-top: 0.05em;     
    }
}
@media screen and (max-width:991px) {
    .portrait-text{
        padding: 0.1em 0.3em 0.3em 0.3em;                       
        }
    }
@media screen and (max-width:650px) {
    .portrait-text{
        padding: 0.1em 0.3em 0.3em 0.3em;                       
        }
    }
.wrapper-portrait-text{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "sidebar content";
    grid-column-gap:0.5em;
    margin-bottom: 0.5em;
    position: relative;
    width: 100%;
    height: 100%;  
} 
@media screen and (max-width:1200px) {   
    .wrapper-portrait-text{
        margin-bottom: 0.3em;
        grid-column-gap:0.2em;
        padding-left: 0em;  
    }
}
@media screen and (max-width:991px) {
    .wrapper-portrait-text{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "content"
        "sidebar";   
        grid-column-gap:0.2em;
        padding-top: 0.05em;                 
        margin-bottom: 0em;
        padding-left: 0em;
        padding-bottom: 0em;
        }
    }
@media screen and (max-width:500px) {  
    .wrapper-portrait-text{
        padding-top: 0em;
    }
}
.wrapper-portrait{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap:0.5em;
  }
@media screen and (max-width:1200px) {
    .wrapper-portrait{
        grid-column-gap:0.3em;
    }
}
@media screen and (max-width:991px) {
    .wrapper-portrait{
        grid-template-columns: 1fr;
    }
}
/*--------PORTRAIT PHOTOGRAPHY END---------------------------------*/


/*--------ABOUT SECTION---------------------------------*/
   
.wrapper-about{
        display:grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(6, 1fr); 
        grid-template-areas: 
       "about picture skills1 skills2";   
        z-index: -1;
        margin-bottom: 2em;
      }
@media screen and (max-width:991px) {
    .wrapper-about{
        margin-top: 0.3em;
        display:grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(6, 1fr); 
        margin-top: 0.3em;
        grid-template-areas: 
        "about"
        " picture skills2"; 
    }
}
@media screen and (max-width:650px) {
    .wrapper-about{
        display:grid;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: repeat(1, 1fr); 
        margin-top: 0.3em;
        grid-template-areas: 
        "about"
        " picture "
        " skills2"; 
    }
}
.wrapper-pic{
    grid-area: picture;
    grid-column: 3/5;
    grid-row: 1/2;
    z-index: 1;
    padding-bottom: 0px;
    margin-top: 0.5em;           
}
@media screen and (max-width:1200px) {
    .wrapper-pic{                               
        margin: 0.35em 0 0 0em;
        }
    }
@media screen and (max-width:991px) {       
    .wrapper-pic{
        grid-column: 1/4;
        grid-row: 2/3;      
    }
}
@media screen and (max-width:650px) {
    .wrapper-pic{
        grid-column: 1/2;
        grid-row: 2/3;      
        height: 250px;
        width: 250px;
        margin: 0 auto;
    }
}
.wrapper-pic img{
    padding-bottom: 0px;
    margin-left: 1.5%;
}
@media screen and (max-width:991px) {
    .wrapper-pic img {
        margin-left: 0;
    }
}
@media screen and (max-width:650px) {
    .wrapper-pic img {
        padding-top: 10px;
        margin: 0px;
    }
}
.about-text{ 
    grid-area: about;
    text-align: justify;
    padding-left: 0.5em;
    padding-right: 0.2em;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: justify;
    margin-top: 0.2em;
}
.about-text p{
    margin-bottom: 0px;
}
@media screen and (max-width:991px) {       
    .about-text{
        grid-column: 1/7;
        grid-row: 1/2;      
        margin-top: 0em; 
        padding: 0em 0.3em 0em 0.3em;         
    }
}
@media screen and (max-width:650px) {
    .about-text{
        grid-column: 1/2;
        grid-row: 1/2;                          
        padding: 0em 0.3em 0em 0.3em;         
        margin-top: 0em;
        margin-bottom: 0;
    }
}
.skills2{
    grid-area: skills2;
    grid-column:5/7;
    grid-row: 1/2;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 130%;
    text-align: left;
    margin-left: 0px;
    margin-top: 0.4em;
    z-index: 2;
    background: #9f9faa;
}
@media screen and (max-width:1200px) {       
    .skills2{      
        margin-top: 0.27em;   
    }
}
@media screen and (max-width:991px) {       
    .skills2{
        grid-column: 4/7;
        grid-row: 2/3;        
    }
}
@media screen and (max-width:650px) {
    .skills2{
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 120%;      
        padding-bottom: 5%;
        margin-top: 0.7em;
    }
}
@media screen and (max-width:380px) {      
    .skills2{    
        font-size: 100%;
    }
}
/* vertical centering*/
.alignskill{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*-----------------------FOOTER SECTION---------------------------------------*/

footer{
    padding: 20px;
    font-size: 80%;
    margin-top: 0;
    padding-top: 0;
    color: #555;  
}
.contact{
    text-align: center;
   
}
.social-links{
    text-align: center;
}
 footer ul li{
    list-style: none;  
    display: inline-block; 
    width: 70px;
}
@media screen and (max-width:650px) {
    footer ul li{
        width: 50px;     
    }
}
ul.list{
    padding-top: 2%;
    margin-bottom: 0px;
}
.copyright{
    text-align: center;
    border-top: black 1px solid;
    margin-right: 10%;
    margin-left: 10%;   
    padding-top: 2%;  
}
.arrow{
    padding-top: 15px;
    text-align: center;
    margin-bottom: 0;
    color: rgb(159, 159, 170);
    font-size: 150%;
}

